body{
	font-family: 'Open Sans', sans-serif;
	background-color:#e5e5e5;
	text-align:center;
}
#todo-container{
	text-align:center;
}
#todo-holder{
	margin-top:3rem;
	text-align:left;
	padding-left:1rem;
	overflow: auto;
	height:200px;
}
#first-page{
	position:absolute;
	top:30%;
	left:35%;
	width:400px;
	height:250px;
	background-color:white;
	z-index:1000;
	border:1px solid black;
}
#second-page{
	position: absolute;
	top:31%;
	left:34.5%;
	width:400px;
	height:250px;
	background-color:white;
	z-index:999;
	border:1px solid black;

}
#third-page{
	top:32%;
	left:34%;
	position: absolute;
	width:400px;
	height:250px;
	background-color:white;
	z-index:998;
	border:1px solid black;

}
#title{
	height:2rem;
	font-size:2rem;
	width:73%;
	float:left;
	display:inline-block;
}
#make-btn{
	border-radius: 0.3rem;
	text-align:center;
	display:inline-block;
	width:25%;
	font-size:2rem;
	float:right;
	background-color:#e5e5e5;
	font-family: 'Open Sans', sans-serif;
}