body{
	font-family: 'Open Sans', sans-serif;
	background-color:#e5e5e5;
	text-align:center;
}
#todo-container{
	text-align:center;
}
#todo-holder{
	margin-top:3rem;
	text-align:left;
	padding-left:1rem;
	overflow: auto;
	height:200px;
}
#first-page{
	position:relative;
	margin: 0 auto;
	width:400px;
	height:250px;
	background-color:white;
	z-index:1000;
	border:1px solid black;
	box-shadow: 5px 5px 10px -10px black;
}
#second-page{
	position: relative;
	margin: -245px auto;
	left:5px;
	width:400px;
	height:250px;
	background-color:white;
	z-index:999;
	border:1px solid black;
	box-shadow: 5px 5px 10px -10px black;

}
#third-page{
	margin: -245px auto;
	position: relative;
	width:400px;
	height:250px;
	left:10px;
	background-color:white;
	z-index:998;
	border:1px solid black;
	box-shadow: 5px 5px 10px -2px black;

}
#title{
	height:2rem;
	font-size:2rem;
	width:73%;
	float:left;
	display:inline-block;
}
#make-btn{
	border-radius: 0.3rem;
	text-align:center;
	display:inline-block;
	width:25%;
	font-size:2rem;
	float:right;
	background-color:#e5e5e5;
	font-family: 'Open Sans', sans-serif;
}